.whatsapp-container {
  position: fixed;
  bottom: 40px;
  right: 27px;
  z-index: 1000;
  animation: floatAnimation 2s ease-in-out infinite;
}

.whatsapp-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25d366;
  padding: 8px;
  box-sizing: border-box;
}

@keyframes floatAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}